<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row mt-3 mb-3 offset-2 col-8">
    <h3 class="mt-2">Edit your Listings</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" enctype="multipart/form-data" novalidate >
            <div class="mb-3 mt-2">
                <label for="title" class="form-label">Title</label>
                <input id="title" class="form-control" type="text" name="listing[title]" value="<%= listing.title%>" required>
                <div class="valid-feedback">
                    Title looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a title.
                </div>
            </div>
            <div class="mb-3">
                <label  for="description" class="form-label">Description</label>
                <textarea class="form-control" id="dexcription" name="listing[description]" id="" required><%= listing.description%> </textarea>
                <div class="valid-feedback">
                    Description looks great!
                </div>
                <div class="invalid-feedback">
                    Please provide a short description.
                </div>
            </div>
            <div class="mb-3">
                Original Image <br>
                <img src="<%= originalImage %>" alt="">
                <br><br>
                <label for="image" class="form-label">Upload New Image</label>
                <input id="image" class="form-control" type="file" name="listing[image][url]">
                
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input id="price" class="form-control" type="number" name="listing[price]" value="<%= listing.price%>" required>
                    <div class="valid-feedback">
                        Price is valid!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" class="form-control" type="text" name="listing[country]" value="<%= listing.country%>" required>
                    <div class="valid-feedback">
                        Country looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the country.
                    </div>
                
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input id="location" class="form-control" type="text" name="listing[location]" value="<%= listing.location%>" required>
                <div class="valid-feedback">
                    Location looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the location.
                </div>
            </div>
            <button class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
    </div>
</body>
