<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row ">
        <div class="col-8 offset-3 mt-3">
            <h3>Listing Details:</h3>
        </div>
        <div class="card offset-3" >
            <img src="<%=listing.image.url%>" class="card-img-top show-img mt-2" alt="...">
            <div class="card-body mt-2 col-6">
                <p class="card-text"><b><%= listing.title %></b>
                   <br> <%= listing.description %> <br>
                <%= Number(listing.price).toLocaleString('en-IN', { style: 'currency' , currency: 'INR' }) %>/night <br>
                <%= listing.location %> <br>
                <%= listing.country %>

                </p>
            </div>
        </div>
    </div>
    <div class="btns">
        <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark edit-btn  offset-3 col-1">Edit</a>
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
            <button class="btn btn-dark  offset-5">Delete</button>
        </form>
    </div>
</body>
